body {
    background-color: darkslategrey;
    margin: 8rem;
    font-family: 'Roboto', sans-serif;
}

form {
    width: 30rem;
    margin: 3rem auto;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 6px;

}

label {
    margin-bottom: 0.5rem;
    display: block;

}

input {
    width: 100%;
    display: block;
    margin: 10px 0 20px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 0.25rem;
    color: darkslategray;
}

input:focus {
    background-color: rgb(219, 190, 253);
    color:rgb(32, 5, 63);
    border-color: rgb(32, 5, 63);
}

button {
    display: block;
    /* font: 1em 'Roboto'; */
    font: inherit;
    font-size: 0.8rem;
    background-color: rgb(32, 5, 63);
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid rgb(32, 5, 63);
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(52, 14, 95);
    border-color: rgb(52, 14, 95);
}
